<!DOCTYPE html>
<html>
      <head>

          <title>Heracles</title>
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

          <link rel="stylesheet" href="/styles/bootstrap.css">

          <link href="/styles/bootstrap.min.css" rel="stylesheet" />
          <link href="/styles/bootstrap-responsive.css" rel="stylesheet" />
          <link href="/styles/Site.css" rel="stylesheet" />
          <link href="/styles/aloha/css/aloha.css" type="text/css" rel="stylesheet" />

      </head>

      <body  ng-controller="BaseCtrl">
          <!-- Navigation -->
          <ng-include class="navbar-wrapper" src='"app/main/views/partials/navigator.html"' ng-controller="navigatorController"></ng-include>
          <!-- Content -->
          <div class="container-fluid" id="main">
              <div class="row-fluid">
                  <!-- pages -->
                  <ng-view></ng-view>
              </div>
          </div>
      </body>

      <script>
          var Aloha = window.Aloha || (window.Aloha = {ready: function(){return false;}});
          Aloha.settings = {
              bundles: {
                  custom: '/js/aloha'
              },
              locale: 'en',
              plugins: {
                  load: "custom/ui,custom/format,custom/table,custom/list,custom/link,custom/highlighteditables,custom/block,custom/image,custom/undo,custom/contenthandler,custom/paste,custom/commands,custom/abbr",
                  format: {
                      config: ['b', 'i', 'u', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre'],
                      editables: {
                          heading1: ['b', 'i', 'u', 'del', 'sub', 'sup'],
                          heading2: ['b', 'i', 'u', 'del', 'sub', 'sup'],
                          heading3: ['b', 'i', 'u', 'del', 'sub', 'sup']
                      }
                  }
              },
              sidebar: {
                  disabled: true
              }
          };
      </script>

      <script data-main="app/main" src="/js/require/require.min.js"></script>

      <!-- Bring in the socket.io client -->
      <!--script type="text/javascript" src="/js/sails/socket.io.js"></script>
      <script type="text/javascript" src="/js/sails/sails.io.js"></script>
      <script type="text/javascript" src="/js/sails/app.js"></script-->

</html>
