<!DOCTYPE html>
<html>
      <head>

        <title>Heracles</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" href="/styles/bootstrap.css">

      </head>

      <body  ng-controller="BaseCtrl">

        <ng-include ng-show="activeMenu()" src='"app/main/views/partials/navigator.html"' ng-controller="NavigatorCtrl"></ng-include>
        <ng-view></ng-view>

        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/sails/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/sails/sails.io.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/sails/app.js"></script>

        <!-- Your scripts here? -->
        <script data-main="app/main" src="/js/require/require.min.js"></script>

      </body>
</html>
