<!-- start:Home -->
<section id="home" class="carousel slide">
    <div class="carousel-inner">
        <div carousel interval="5000">
            <div slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin: auto;">
                <div class="overlay-1" style="margin-top: 30px;"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p class="lead">{{slide.text}}</p>
                        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                    </div>
                </div>

                <!--div class="slide-caption">
                    <h6>Creative - Corporate - Software</h6>
                    <h1>Kendo theme for
                        <span class="txt-rotate" data-period="2000" data-rotate='[ "creatives.", "corporates.", "personal.", "fun!" ]'></span>
                    </h1>
                    <div class="contrast">
                        <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
                        <p>
                            <a class="btn btn-lg btn-green">Explore Theme</a>
                        </p>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</section>
<!-- end:Home -->

<!-- start:Vision -->
<section id="vision" class="service space">
    <div id="" class="container">
        <div class="row">
            <aloha compile="visionTitle.content" id="{{visionTitle.id}}" type="{{visionTitle.type}}" class="span4 content"></aloha>
        </div>
        <!-- .row -->
        <div class="row p-top-50">
            <div class="col-md-4">
                <aloha compile="vision1.content" id="{{vision1.id}}" type="{{vision1.type}}" class="span4 content"></aloha>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <aloha compile="vision2.content" id="{{vision2.id}}" type="{{vision2.type}}" class="span4 content"></aloha>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <aloha compile="vision3.content" id="{{vision3.id}}" type="{{vision3.type}}" class="span4 content"></aloha>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- end:Container -->
</section>
<div id="separator1" class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end:Vision -->

<!-- start:Services -->
<section class="space" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="title">The Full Services</h4>
                <h1>Display Your Service List</h1>
                <p class="lead">Have an expert stylist shop for you. They'll email you outfits.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-50">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page et-page-opacity features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>

                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper" >
                    <div class="et-page features-box et-page-current">
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>

                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->

        </div>
        <!-- .row -->
    </div>
    <!-- .end:Container -->
</section>
<div id="separator2" class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end:Services -->

<!-- start:About -->
<section id="about" class="space p-btm-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="title-12">ABOUT US</h3>
                <h1>The
                    <span class="f-800 f-green">Kendo</span>Full Story</h1>
                <p>Kendo Theme is a Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- .col 10 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="stats-info list-unstyled list-inline">
                    <li>
                        <h2>7 Years</h2>
                        <p>Since We Started</p>
                    </li>
                    <li>
                        <h2>1,580+</h2>
                        <p>Happy Customers</p>
                    </li>
                    <li>
                        <h2>8 000 0...</h2>
                        <p>Lines of Code</p>
                    </li>
                    <li>
                        <h2>1500</h2>
                        <p>Hard Working Folks</p>
                    </li>
                </ul>
                <!-- end:Stast-Info -->
            </div>
            <!-- .col-12 -->
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- end:About -->

<!-- start:Contact -->
<section id="contact" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="f-white">Work with us</h1>
                <p>We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
                <p>
                    <a href="contact.php" class="btn btn-green btn-lg">Get in touch with us</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" col-md-12 text-center">

            <p class="p-top-10">     </p>
            <ul class="socials list-inline list-unstyled p-top-10">
                <li><a class="about-social-icon gplus" href="#"><i class="fa fa-google-plus" style=""></i> </a> </li>
                <li><a class="about-social-icon pinterest" href="#"><i class="fa fa-pinterest" style=""></i></a> </li>
                <li> <a class="about-social-icon twitter" href="#"><i class="fa fa-twitter" style=""></i></a> </li>
                <li><a class="about-social-icon rss" href="#"><i class="fa fa-rss" style=""></i></a> </li>
                <li> <a class="about-social-icon facebook" href="#"> <i class="fa fa-facebook" style=""></i></a> </li>
            </ul>
        </div>
    </div>
</section>
<!-- end:Contact -->

<footer>
    <div class="container">
        <p smooth-scroll="" target="main" class="pull-right"><a smooth-scroll target="home" href="" >Back to top</a></p>
        <p>© 2013 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
</footer>