<!-- Content -->
<div id="main"></div>

<div id="myCarousel" class="carousel slide">

    <div class="carousel-inner">
        <div carousel interval="5000">
            <div slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin: auto;">
                <div class="overlay-1" style="margin-top: 30px;"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p class="lead">{{slide.text}}</p>
                        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                    </div>
                </div>

                <!--div class="slide-caption">
                    <h6>Creative - Corporate - Software</h6>
                    <h1>Kendo theme for
                        <span class="txt-rotate" data-period="2000" data-rotate='[ "creatives.", "corporates.", "personal.", "fun!" ]'></span>
                    </h1>
                    <div class="contrast">
                        <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
                        <p>
                            <a class="btn btn-lg btn-green">Explore Theme</a>
                        </p>
                    </div>
                </div-->
            </div>
        </div>
    </div>

</div>


<section class="service space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h4 class="title-12">What We Do</h4>
                <h1>We provide super awesome digital service using just pure
                    <b>
                        <span class="f-green txt-rotate" data-period="4000" data-rotate='[ "love & passion.", "knowledge.", "artistic approach.", "love!" ]'></span>
                    </b>
                </h1>
                <p class="intro">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row p-top-50">
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-1.jpg" alt="">
                    </figure>
                    <h3>Bootstrap framework</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-2.jpg" alt="">
                    </figure>
                    <h3>Corporate theme</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-3.jpg" alt="">
                    </figure>
                    <h3>For creatives</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- end:Container -->
</section>

<div class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- end:Service -->
<section class="space" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="title">The Full Services</h4>
                <h1>Display Your Service List</h1>
                <p class="lead">Have an expert stylist shop for you. They'll email you outfits.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-50">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page et-page-opacity features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>

                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>

                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->

        </div>
        <!-- .row -->
    </div>
    <!-- .end:Container -->
</section>
<!-- end:features section -->
<div class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- start:About -->
<section id="about" class="space p-btm-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="title-12">ABOUT US</h3>
                <h1>The
                    <span class="f-800 f-green">Kendo</span>Full Story</h1>
                <p>Kendo Theme is a Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- .col 10 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="stats-info list-unstyled list-inline">
                    <li>
                        <h2>7 Years</h2>
                        <p>Since We Started</p>
                    </li>
                    <li>
                        <h2>1,580+</h2>
                        <p>Happy Customers</p>
                    </li>
                    <li>
                        <h2>8 000 0...</h2>
                        <p>Lines of Code</p>
                    </li>
                    <li>
                        <h2>1500</h2>
                        <p>Hard Working Folks</p>
                    </li>
                </ul>
                <!-- end:Stast-Info -->
            </div>
            <!-- .col-12 -->
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- end:About -->
<div class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- START WORKS SECTION -->
<section id="projects" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h4 class="title-12">Our Work</h4>
                <h1>We work with some of the leaders in the industries like
                    <b>
                        <span class="f-green txt-rotate" data-period="4000" data-rotate="[ &quot;apple &amp; bmw.&quot;, &quot;mercedes.&quot;, &quot;webmonkeys.&quot;, &quot;apple!&quot; ]"></span>
                    </b>
                </h1>
                <p class="intro">Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.</p>
                <p class="intro">Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.</p>
                <p class="intro">Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.</p>

            </div>
            <!-- .col-12 -->
        </div>

    </div>
</section>
<!-- END WORKS SECTION -->
<div class="space separator">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</div>

<section id="cta-contact" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="f-white">Work with us</h1>
                <p>We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
                <p>
                    <a href="contact.php" class="btn btn-green btn-lg">Get in touch with us</a>
                </p>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div class="row br-btm">
            <div class="footer-wrap clearfix text-center">
                <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>LA, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
                <!-- col-4 -->
                <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>Sarajevo, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
                <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="btm-footer col-md-12 text-center">
            <ul class="footer-links clearfix list-inline list-unstyled">
                <li>
                    <a href="about.html#rewards" class="external">Buy App</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="about.html">About us</a>
                </li>
                <li>
                    <a href="about.html">Privacy</a>
                </li>
                <li>
                    <a href="contact-form.html">Contact</a>
                </li>
                <li>
                    <a href="blog.html">Updates</a>
                </li>
                <li>
                    <a href="about.html">Feedbacks</a>
                </li>
            </ul>
            <p class="p-top-10">All Rights Reserved @2013 Pamukovic</p>
            <ul class="socials list-inline list-unstyled p-top-10">
                <li>
                    <a class="about-social-icon gplus" href="#">
                        <i class="fa fa-google-plus" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon pinterest" href="#">
                        <i class="fa fa-pinterest" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon twitter" href="#">
                        <i class="fa fa-twitter" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon rss" href="#">
                        <i class="fa fa-rss" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon facebook" href="#">
                        <i class="fa fa-facebook" style=""></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

